@{
    ViewData["Title"] = "LogIn";
}
@model LogInDTO

<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="template-example">
                    <h2 class="template-title-example">Giriş</h2>
                    <form asp-action="LogIn">
                        <div class="form-group">
                            <label class="form-label" asp-for="UserName"></label>
                            <input class="form-control" asp-for="UserName" placeholder="Kullanıcı adı" />
                            <span asp-validation-for="UserName" class="form-text text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="form-label" asp-for="Password"></label>
                            <input class="form-control" asp-for="Password" placeholder="Password" />
                            <span asp-validation-for="Password" class="form-text text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-info float-end mb-3" value="Giriş" />
                            <a asp-controller="Account" asp-action="Register" class="btn btn-warning float-lg-end">Kayıt Ol</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-container-spacer text-center">
                    <h1 class="h2">Takip Et</h1>
                </div>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <form action="" class="reveal-content">
                            <div class="row">
                                <div class="col-md-5 address-container">
                                    <ul class="list-unstyled">
                                        <li>
                                            <span class="fa-icon">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                            </span>
                                            (055) 555 55 55
                                        </li>
                                        <li>
                                            <span class="fa-icon">
                                                <i class="fa fa-at" aria-hidden="true"></i>
                                            </span>
                                            e-mail@mail.io
                                        </li>
                                    </ul>
                                    <h3>Follow me on social networks</h3>
                                    <a href="http://www.facebook.com" title="" class="fa-icon">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="http://www.twitter.com" title="" class="fa-icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="http://www.linkedin.com" title="" class="fa-icon">
                                        <i class="fa fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<footer class="footer-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>© UNTITLED | Website created with </p>
            </div>
        </div>
    </div>
</footer>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
    });
</script>
<script type="text/javascript" src="~/main.70a66962.js"></script>